<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/horse.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View Horse</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/horse.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View Horse</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/horse.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View Horse</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/horse.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View Horse</a>
                </div>
              </div>
        </div>
      </div>
    
  
</div>




