<section id="feature">
  <div class="title-text">
    <p>FEATURES</p>
    <h1>Why Us</h1>
  </div>
  <div class="feature-box">
    <div class="features">
      <h1>Experienced Staff</h1>
      <div class="features-desc">
        <div class="feature-icon"></div>
        <div class="feature-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            quae delectus 
          </p>
        </div>
      </div>
    </div>
    <div class="features-img">
      <img src="../../assets/features-1.png" />
    </div>
  </div>
</section>
