<section id="feature">
  <div class="title-text">
    <p>FEATURES</p>
    <h1>Why Us</h1>
  </div>
  <div class="feature-box">
    <div class="features">
      <h1>Best Rstaurants</h1>
      <div class="features-desc">
        <div class="feature-text">
          <p>We have agreement with top restaurants around the city</p>
        </div>
      </div>
      <h1>Easy to access</h1>
      <div class="features-desc">
        <div class="feature-text">
          <p>We have only four step to get desiarable meal</p>
        </div>
      </div>
      <h1>Permanent update</h1>
      <div class="features-desc">
        <div class="feature-text">
          <p>
            We always care about our customers desire and allways try make wider
            the list of our customers as well as satisfied clients
          </p>
        </div>
      </div>

      <h1>Quick as Flash</h1>
      <div class="features-desc">
        <div class="feature-text">
          <p>
            as soon as we recive the order our team works like a Flash to
            deliver te meal as soon as posible
          </p>
        </div>
      </div>

    </div>
    <div class="features-img">
      <img src="../../assets/features_s.jpg" />
    </div>
  </div>
</section>
