<section id="testimonial">
  <div class="title-text">
    <p>TESTMONIAL</p>
    <h1>Satisfied Customers</h1>
  </div>
  <div class="testimonial-row">
    <div class="testimonial-col">
        <div class="user">
            <img src="../../assets/avatar-1.jpg" alt="avatar1">
            <div class="userinfo">
                <h4>John Doe</h4>
                <small>@DoeJohn</small>
            </div>
        </div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet eaque
        a rem quaerat saepe dolorum ad ex vero explicabo soluta nesciunt
        obcaecati corporis accusantium, magni laborum reprehenderit. Tenetur,
        adipisci repellendus!
      </p>
    </div>
    <div class="testimonial-col">
        <div class="user">
            <img src="../../assets/avatar-2.jpg" alt="avatar2">
            <div class="userinfo">
                <h4>Jack Nickolson</h4>
                <small>@Nickolson</small>
            </div>
        </div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet eaque
            a rem quaerat saepe dolorum ad ex vero explicabo soluta nesciunt
            obcaecati corporis accusantium, magni laborum reprehenderit. Tenetur,
            adipisci repellendus!
          </p>
    </div>
    <div class="testimonial-col">
        <div class="user">
            <img src="../../assets/avatar-3.jpg" alt="avatar3">
            <div class="userinfo">
                <h4>Jim Carry</h4>
                <small>@JCarry</small>
            </div>
        </div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet eaque
            a rem quaerat saepe dolorum ad ex vero explicabo soluta nesciunt
            obcaecati corporis accusantium, magni laborum reprehenderit. Tenetur,
            adipisci repellendus!
          </p>
    </div>
  </div>
</section>
