<section id="service">
  <div class="title-text">
    <p>SERVICES</p>
    <h1>How it works</h1>
  </div>
  <a [routerLink]="['/cards']" routerLinkActive="active">
    <div class="service-box">
      <div class="single-service">
        <img src="../../assets/hungry.png" alt="hungry image" />
        <div class="overlay"></div>
        <div class="service-desc">
          <h3>Deside uou are hungry</h3>
          <hr />
          <p>
            When you are hungry and dont know what to eat, you can easily search
            for food on our site and decide what do you wand to eat
          </p>
        </div>
      </div>
      <div class="single-service">
        <img src="../../assets/findfood.png" alt="search food image" />
        <div class="overlay"></div>
        <div class="service-desc">
          <h3>Find desirable meal on our web site</h3>
          <hr />
          <p>We have bunches of restaurants you can choose from</p>
        </div>
      </div>
      <div class="single-service">
        <img src="../../assets/ordermeal.jpg" alt="order food image" />
        <div class="overlay"></div>
        <div class="service-desc">
          <h3>Order it</h3>
          <hr />
          <p>
            You can find your dish add it into your basket and order thats all
            you want to do
          </p>
        </div>
      </div>
      <div class="single-service">
        <img src="../../assets/gethome.png" alt="get food home image" />
        <div class="overlay"></div>
        <div class="service-desc">
          <h3>Get it directly to your Home</h3>
          <hr />
          <p>When order give us the adress and we will deliver it directly</p>
        </div>
      </div>
    </div>
  </a>
</section>
